*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-name: "Noto Sans JP";
  --size: 30px;
  --line-margin: 15px;
  --outline-c: #000;
  --hide-duration: 300ms;

  --name-c: #c0c0c0;
  --name-fw: 800;

  --member-name-c: #a5ff15;
  --subscriber-name-c: #a5ff15;
  --moderator-name-c: #17d1ff;
  --owner-name-c: #ffa551;
  
  --text-c: #fff;
  --text-fw: 800;
  
  
  --super-name-fw: 800;
  --super-amount-fw: 800;
  --super-text-fw: 800;
  
  
  --membership-bg: #0a8043;
  --membership-c: #fff;
  --membership-body-bg: #14a359;
  --membership-body-c: #fff;

  --cheer-bg: #00eeff;
  --cheer-c: #000;
  --cheer-body-bg: #7bfbff;
  --cheer-body-c: #000;

  --subscribe-bg: #5d00c7;
  --subscribe-c: #fff;
  --subscribe-body-bg: #8222f0;
  --subscribe-body-c: #fff;
}

#wrap {
  width: 100vw;
  height: 100vh;
  padding: 5px;
  overflow: hidden;
}

#dummy {
  width: 100%;
  height: 100vh;
}

@keyframes slideInFromR {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideInFromL {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.youtube,
.twitch {
  font-family: var(--font-name);

  margin-top: var(--line-margin);
  display: flex;
  font-size: calc(var(--size) * 1);

  animation: fadeIn 200ms ease-in-out;
  &.normal {
    display: flex;
    align-items: center;
    line-height: 1.2;
    font-size: 0;
    .name {
      margin-right: 5px;
      color: var(--name-c);
      font-size: calc(var(--size) * 1);
      font-weight: var(--name-fw);
      text-shadow: var(--outline);
    }
    .text {
      color: var(--text-c);
      font-size: calc(var(--size) * 1);
      font-weight: var(--text-fw);
      text-shadow: var(--outline);
    }
    .content {
      * {
        display: inline;
        vertical-align: middle;
      }
    }
  }

  &.normal[data-is-member=true] {
    .name {
      color: var(--member-name-c);
    }
  }
  &.normal[data-is-subscriber=true] {
    .name {
      color: var(--subscriber-name-c);
    }
  }

  &.normal[data-is-moderator=true] {
    .name {
      color: var(--moderator-name-c);
    }
  }

  &.normal[data-is-owner=true] {
    .name {
      color: var(--owner-name-c);
    }
  }

  .icon {
    width: calc(var(--size) * 1.5);
    height: calc(var(--size) * 1.5);
    border-radius: calc(var(--size) * 1.5);
    margin-right: calc(var(--size) * 0.25);
  }
  .badge {
    width: calc(var(--size) * 1.25);
    height: calc(var(--size) * 1.25);
    margin-right: calc(var(--size) * 0.2);
    vertical-align: middle;
    display: inline-block;
    margin-top: calc(var(--size) * 0.2);
    margin-bottom: calc(var(--size) * 0.2);
  }
  .emoji,
  .emote,
  .cheermote {
    width: calc(var(--size) * 1.3);
    height: auto;
    margin: 0 calc(var(--size) * 0.2);
    vertical-align: middle;
  }
  .sticker {
    width: calc(var(--size) * 3.4);
    min-height: calc(var(--size) * 3.4);
  }
  .text {
    word-wrap: break-word;
    word-break: break-word;
  }
}

// Twitchのみ ======================================================
.twitch {
  &.cheer,
  &.subscribe,
  &.gift {
    flex-direction: column;
    border-radius: calc(var(--size) * 0.4);
    overflow: hidden;
    .header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0 cal;
      padding:
        0
        calc(var(--size) * 0.3);
      background-color: var(--cheer-bg);
      color: var(--cheer-c);
      .name {
        font-weight: var(--super-name-fw);
      }
      .amount {
        font-weight: var(--super-amount-fw);
      }
    }
    .body {
      padding:
        calc(var(--size) * 0.1)
        calc(var(--size) * 0.3);
      background-color: var(--cheer-body-bg);
      color: var(--cheer-body-c);
    }
    .text {
      font-weight: var(--super-text-fw);
    }
  }

  &.subscribe,
  &.gift {
    .header {
      background-color: var(--subscribe-bg);
      color: var(--subscribe-c);
    }
    .body {
      background-color: var(--subscribe-body-bg);
      color: var(--subscribe-body-c);
    }
  }
}

// YouTubeのみ ======================================================
.youtube {
  &.superchat,
  &.supersticker,
  &.membership,
  &.gift {
    flex-direction: column;
    border-radius: calc(var(--size) * 0.3);
    overflow: hidden;
    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0 calc(var(--size) * 0.4);
      padding:
        0
        calc(var(--size) * 0.3);
      .icon {
        width: calc(var(--size) * 2);
        height: calc(var(--size) * 2);
      }
      .content {
        flex: 1;
      }
      .name {
        font-weight: var(--super-name-fw);
      }
      .amount {
        font-weight: var(--super-amount-fw);
      }
    }
    .body {
      padding:
        calc(var(--size) * 0.1)
        calc(var(--size) * 0.3);
    }
    .text {
      font-weight: var(--super-text-fw);
    }
  }

  &.supersticker {
    flex-direction: row;
    .header {
      flex: 1;
    }
  }

  &.membership,
  &.gift {
    background-color: var(--membership-bg);
    color: var(--membership-c);
    .header {
      background-position: right 0 top 0;
      background-size: auto 100%;
      background-repeat: no-repeat;
    }
    .body {
      background-color: var(--membership-body-bg);
      color: var(--membership-body-c);
    }
  }
}

.hide {
  animation-name: fadeOut;
  animation-duration: var(--hide-duration);
  animation-fill-mode: forwards;
}